.item-row-scroller-container {
    width: 100%;
    min-width: 50%;
    height: 100%;
    -webkit-overflow-scrolling: touch;
}

.item-row-scroller-content {
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    scrollbar-width: none;
}

.scroller-shadow-container {
    position: relative;
}

.left-shadow {
    position: absolute;
    left: 0;
    width: 100px;
    height: 50px;
    box-shadow: inset 70px 0 20px -30px rgba(255, 255, 255, 0.5);
    pointer-events: none;
}

.right-shadow {
    position: absolute;
    right: 0;
    width: 100px;
    height: 50px;
    box-shadow: inset -70px 0 20px -30px rgba(255, 255, 255, 0.5);
    pointer-events: none;
}